.about-us-container {
    display: flex;
    padding: 5%;
}

.div-left {
    width: 50%;
}

    .div-left img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
    }

.div-right {
    width: 50%;
    padding: 0 2%;
    text-align: center;
}

    .div-right h2 {
        text-align: center;
        font-size: 2rem;
    }

    .div-right p {
        font-size: 1.25rem;
        text-align: justify;
    }

    .div-right button {
        padding: 2% 5%;
        font-size: 1.25rem;
        background: red;
        color: white;
        border: none;
        transition: 0.25s;
    }

        .div-right button:hover {
            filter: brightness(0.8);
        }
