
.main-title {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Match container background */
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px 8px 0 0;
    width: 100%; /* Make sure title takes full width */
    box-sizing: border-box; /* Ensure padding does not affect width */
}

.content {
    display: flex;
    width: 100%; /* Make sure content takes full width */
    box-sizing: border-box; /* Ensure padding does not affect width */
}

.cart, .checkout {
    padding: 20px;
    width: 50%;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.cart {
    border-right: 1px solid #ddd;
}

h2 {
    margin-top: 0;
}

.product-list {
    margin-top: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

    .product-item img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

.product-info p {
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.totals {
    margin-top: 20px;
}

    .totals p {
        margin: 5px 0;
    }

.button-checkout {
    padding: 15px 20px; /* Chỉnh lại padding */
    border-radius: 25px; /* Giảm border radius */
    align-self: center;
    margin-top: 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 50%;
}


        .button-checkout:hover {
            background-color: #218838;
        }
