* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

.container {
    display: flex;
    background: #F0F0F0;
    justify-content: flex-end;
    height: max-content;
    min-height: 100vh;
}

.container-left {
    width: 20%;
    height: 100vh;
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

    .container-left.active {
        width: 10%;
    }

    .container-left .icon-wrapper {
        text-align: center;
        width: 100%;
    }

    .container-left.active .icon-wrapper {
        padding: 20% 0;
    }
        .container-left.active .icon-wrapper i {
            font-size: 3rem;
            width: 100%;
        }

        .container-left.active .icon-wrapper span {
            display: none;
        }

    .container-left.active .container-left-sidebar-logo img {
        width: 100%;
        border-radius: 0;
        aspect-ratio: 1;
    }

    

.container-left-sidebar {
    z-index: 2;
    background-color: #808080;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

    .container-left-sidebar .container-left-sidebar-logo {
        width: 100%;
        text-align: center;
    }

        .container-left-sidebar .container-left-sidebar-logo img {
            width: 100%;
            aspect-ratio: 7/4;
            object-fit: cover;
        }

.icon-wrapper {
    padding: 5% 10%;
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .icon-wrapper:hover {
        background: #999;
        color: #CCC;
        user-select: none;
        cursor: pointer;
    }

    .icon-wrapper i {
        font-size: 3rem;
        width: 20%;
    }

    .icon-wrapper span {
        width: 80%;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }

.fa-fw {
    width: 1.25em;
}

.icon-wrapper:first-child {
    margin-top: 20px;
}

.button-left-side {
    border: none;
    background: #9d9898;
    cursor: pointer;
    font-size: 2rem;
    padding: 20% 2%;
    position: absolute;
    left: 100%;
    top: 45%;
    transform: translate(0, -50%);
    clip-path: ellipse(150% 50% at -50% 50%);
    transition: 0.25s;
    z-index: 1;
}

.container-left.active .button-left-side {
    padding: 30% 2%;
}


.button-left-side i {
    transition: 0.25s;
}

.container-left.active .button-left-side i {
    transform: rotate(-540deg);
}

.container-right {
    width: 80%;
    transition: width 0.3s ease;
    position: relative;
}

    .container-right .container-right-header {
        background: #00F;
        font-size: 4rem;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        padding: 1% 0;
        font-weight: bold;
    }

    .container-right .container-right-body {
        width: 100%;
        margin: 2% 0;
        padding: 0 10%;
    }

.container-left.active ~ .container-right {
    width: 90%;
}
