body {
    background-color: aliceblue;
}

img {
    width: 100%;
}


.banner--background {
    width: 100%;
    & img

{
    width: 100%;
    aspect-ratio: 2.55/1;
    object-fit: cover;
}

}

.feature--banner {
    display: flex;
    justify-content: space-between;
    background-color: #C89A9A;
    margin: 1% 10%;
    & .feature--banner--feature

{
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    & i

{
    width: 40%;
    font-size: 3rem;
    text-align: center;
}

& .feature--banner--feature--content {
    width: 60%;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & p

{
    margin: 5% 0;
}

}
}
}

.new--product {
    margin-bottom: 2%;
}

.hot--product {
    text-align: center;
}

.product--title {
    color: #BB8383;
    text-align: center;
    font-size: 3rem;
    font-family: 'Segoe UI';
    padding: 2% 0;
}

.product--top {
    display: flex;
}

.product--banner {
    position: relative;
}

.Product--image {
    width: 90%;
    padding-left: 5%;
    & img

{
    width: 100%;
}

}

.category {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 5%;
    & p

{
    width: 100%;
    font-size: 1.5rem;
    color: black;
    filter: drop-shadow(#fff 0rem 0rem 2px);
    text-shadow: 0 0 2px #fff;
}

}

.product--name {
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
}

.product--price {
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    margin-bottom: 1%;
}

.view {
    text-align: center;
    & button

{
    background-color: #F86969;
    padding: 3% 6%;
    width: 85%;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

& button:hover {
    transition: 0.2s;
    background-color: #ac4e4e;
    color: white;
}

}

.price--old {
    text-decoration: line-through;
    color: #8A8787;
}

.button--loadmore {
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    border: none;
    border-radius: 15px;
    background: #ac4e4e;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover

{
    transform: scale(1.2);
}

}

.Maketting {
    display: flex;
    & img

{
    width: 50%;
}
}
