* {
    box-sizing: border-box;
}

.detail-container {
    padding: 0 5%;
    margin-top: 2%;
}

.navar {
    display: flex;
    justify-content: space-between;
}

.cart-img {
    width: 50%;
    text-align: center;
    & img

{
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

}

.cart-infor {
    width: 50%;
    padding: 0 1%;
}

.toppic h2 {
    font-size: 3.75rem;
}

.price {
    display: flex;
    justify-content: space-between;
    font-size: 2.25rem;
    width: 50%;
}

.price-old {
    & p

{
    text-decoration: line-through;
    color: #b2acac;
}

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    width: 20%;
    display: flex;
    font-size: 2rem;
    align-items: center;
    background: #d9d9d9;
    border-radius: 7px;
    text-align: center;
    & p

{
    width: 40%;
    text-align: center;
    font-size: 1.5rem;
}

& button {
    padding: 10% 0;
    font-size: 1.25rem;
    margin: 2% 0;
    border: hidden;
    width: 40%;
    background: #d9d9d9;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover

{
    transform: scale(1.1);
    filter: brightness(0.8);
}

}
}

.add {
    width: 55%;
    & button

{
    transition: 0.2s ease;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 4% 0%;
    border: hidden;
    background-color: #4ef654;
    border-radius: 7px;
    cursor: pointer;
    &:hover

{
    filter: brightness(0.8);
}

}
}

.product-category p {
    font-size: 1.5rem;
    font-weight: bold;
}

.desciption {
    font-size: 1.5rem;
    text-align: justify;
    padding: 1%;
}

.similar-product h2 {
    text-align: center;
    font-size: 2rem;
}

.group-product {
    display: flex;
    padding: 1% 0;
}

.product {
    width: 25%;
}

.product--title {
    color: #bb8383;
    text-align: center;
    font-size: 2rem;
    font-family: "Segoe UI";
    letter-spacing: 3px;
}

.product--banner {
    position: relative;
}

.Product--image {
    width: 90%;
    & img

{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

}

.category {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0;
    & p

{
    width: 100%;
}

}

.product--name {
    text-align: center;
}

.product--price {
    display: flex;
    justify-content: space-around;
}

.view {
    text-align: center;
    & button

{
    background-color: #f86969;
    padding: 4%;
    width: 65%;
    border: none;
    cursor: pointer;
}

& button:hover {
    transition: 0.2s;
    background-color: #ac4e4e;
    color: white;
}

}

.price--old {
    text-decoration: line-through;
    color: #8a8787;
}
