@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/About.css" rel="stylesheet" />
<div class="about-us-container">
    <div class="div-left">
        <img src="~/img/imgaboutus.jpg" alt="About Us Image" />
    </div>
    <div class="div-right">
        <h2>About us</h2>
        <p>
            We are not just a store, but also a fashion-loving community. With a
            team of experienced and enthusiastic staff, we are willing to advise
            and support you in choosing the most suitable product. Let us help you
            create confident and impressive steps.We are not just a store, but
            also a fashion-loving community. With a team of experienced and
            enthusiastic staff, we are willing to advise and support you in
            choosing the most suitable product. Let us help you create confident
            and impressive steps.We are not just a store, but also a
            fashion-loving community. With a team of experienced and enthusiastic
            staff, we are willing to advise and support you in choosing the most
            suitable product. Let us help you create confident and impressive
            steps.We are not just a store, but also a fashion-loving community.
            With a team of experienced and enthusiastic staff, we are willing to
            advise and support you in choosing the most suitable product. Let us
            help you create confident and impressive steps.
        </p>
        <button onclick="window.location.href='Index'" type="submit">Shop Now</button>
    </div>
</div>
