@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<link href="~/css/Cart.css" rel="stylesheet" />

<body>
    <div class="cart-container">
        <div class="navar">
            <div class="cart-img">
                <img src="Product.jpg" alt="" />
            </div>
            <div class="cart-infor">
                <div class="toppic">
                    <h2>Product-Name</h2>
                </div>
                <div class="price">
                    <div class="price-new">
                        <p>180$</p>
                    </div>
                    <div class="price-old">
                        <p>190$</p>
                    </div>
                </div>
                <div class="banner">
                    <div class="cart-total">
                        <button class="button-tru">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                        <p>1</p>
                        <button class="button-plus">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="add">
                        <button>Add To Cart</button>
                    </div>
                </div>

                <div class="product-category">
                    <p>Category</p>
                </div>
                <div class="description">
                    <p>
                        Success does not come from waiting for luck, but from perseverance
                        and relentless effort. Success does not come from waiting for
                        luck, but from perseverance and relentless effort. Success does
                        not come from waiting for luck, but from perseverance and
                        relentless effort. Success does not come from waiting for luck,
                        but from perseverance and relentless effort.
                    </p>
                </div>
            </div>
        </div>

        <div class="similar-product">
            <h2>Similar product</h2>
        </div>
        <div class="group-product">
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
        </div>
        <div class="group-product">
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
            <div class="product">
                <div class="product--banner">
                    <div class="Product--image">
                        <img src="Product.jpg" alt="" />
                    </div>
                    <div class="category">
                        <p>Category</p>
                    </div>
                </div>
                <div class="product--name">
                    <p>product name</p>
                </div>
                <div class="product--price">
                    <p class="price--new">180$</p>
                    <p class="price--old">190$</p>
                </div>
                <div class="view">
                    <button>View</button>
                </div>
            </div>
        </div>
    </div>
</body>
