@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/Order.css" rel="stylesheet" />

<body>
    <div class="list--product">
        <div class="table-form-container">
            <table>
                <tr class="table">
                    <th>Product</th>
                    <th></th>
                    <th>Category</th>
                    <th>Inventory</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td class="product-image">
                        <img src="Product.jpg" alt="">
                    </td>
                    <td class="product-information">
                        <p>Nike</p>
                        <p>180$</p>
                    </td>
                    <td class="category">
                        Sport
                    </td>
                    <td class="inventory">
                        <div>
                            <button></i><i class="fa-solid fa-minus"></i></button> 1 <button>
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td class="product-button">
                        180$
                    </td>
                </tr>



            </table>
            <div class="checkout-button">
                <button>checkout</button>
            </div>
        </div>
    </div>
</body>