@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/OverviewUser.css" rel="stylesheet" />

<body>
    <div class="overviewmanagerment">
        <div class="toppic">
            <h2>Monitor Health Of Your Business</h2>
        </div>
        <div class="product-sold-most">
            <div class="CONCAC">
                <div class="sold">
                    <div class="user-text">
                        <p>User</p>
                        <div class="number">
                            <p>100</p>
                        </div>
                        <div class="registerdate">
                            <p>+ 1 Last Month</p>
                        </div>
                    </div>
                    <div class="user-icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
                <div class="sold">
                    <div class="product-text">
                        <p>Product</p>
                        <div class="number">
                            <p>200</p>
                        </div>
                        <div class="registerdate">
                            <p>+20 last Month</p>
                        </div>
                    </div>
                    <div class="product-icon">
                        <i class="fa-brands fa-product-hunt"></i>
                    </div>
                </div>
                <div class="sold">
                    <div class="revenue-text">
                        <p>Revenue</p>
                        <div class="number">
                            <p>1000$</p>
                        </div>
                        <div class="registerdate">
                            <p>+ 100$ Last Month</p>
                        </div>
                    </div>
                    <div class="revenue-icon">
                        <i class="fa-solid fa-money-bill"></i>
                    </div>
                </div>
                <div class="product-sold">
                    <div class="product-sold-top">
                        <div class="sold-text">
                            <h2>Total Product Sold</h2>
                        </div>
                        <div class="sold-year">
                            <select name="sold-year" id="sold-year">
                                <option value="2024">2222</option>
                                <option value="2023">3333</option>
                                <option value="2022">3344</option>
                                <option value="2000">5555</option>
                                <option value="2999">6666</option>
                            </select>
                        </div>
                    </div>
                    <div class="body-chart">
                        <div class="chart">
                            <div class="bar" style="height: 30%" title="30">01</div>
                            <div class="bar" style="height: 25%" title="25">02</div>
                            <div class="bar" style="height: 35%" title="35">03</div>
                            <div class="bar" style="height: 50%" title="50">04</div>
                            <div class="bar" style="height: 40%" title="40">05</div>
                            <div class="bar" style="height: 20%" title="20">06</div>
                            <div class="bar" style="height: 15%" title="15">07</div>
                            <div class="bar" style="height: 30%" title="30">08</div>
                            <div class="bar" style="height: 25%" title="25">09</div>
                            <div class="bar" style="height: 35%" title="35">10</div>
                            <div class="bar" style="height: 50%" title="50">11</div>
                            <div class="bar" style="height: 40%" title="40">12</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="most-product">
                <h2>Most sold Product</h2>
                <img src="Product.jpg" alt="" />
                <p class="kkk">Category</p>
                <p>Product-name</p>
            </div>
        </div>

        <div class="reveue-picture">
            <div class="reveu-chart">
                <h2>Total Revenue</h2>
                <div class="body-chart">
                    <div class="chart concm">
                        <div class="bar" style="height: 30%" title="30">01</div>
                        <div class="bar" style="height: 25%" title="25">02</div>
                        <div class="bar" style="height: 35%" title="35">03</div>
                        <div class="bar" style="height: 50%" title="50">04</div>
                        <div class="bar" style="height: 40%" title="40">05</div>
                        <div class="bar" style="height: 20%" title="20">06</div>
                        <div class="bar" style="height: 15%" title="15">07</div>
                        <div class="bar" style="height: 30%" title="30">08</div>
                        <div class="bar" style="height: 25%" title="25">09</div>
                        <div class="bar" style="height: 35%" title="35">10</div>
                        <div class="bar" style="height: 50%" title="50">11</div>
                        <div class="bar" style="height: 40%" title="40">12</div>
                    </div>
                </div>
            </div>
            <div class="chart-doughnut">
                <canvas id="myChart1"></canvas>
                <canvas id="myChart2"></canvas>
            </div>

        </div>
</body>

<script src="~/js/OverviewUser.js"></script>