@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="overviewManager-container">
        <div class="overviewManager-top">
            <h1 class="title">USER VIEW</h1>

            <div class="user-text">
                <div class="user-info">
                    <p class="title">User </p><i class="fa-solid fa-user"></i>
                </div>
                <p class="number">100</p>
                <p class="registerdate">+ 1 Last Month</p>
            </div>
            <div class="overviewManager-top-chart">
                <canvas id="user-buy-most-chart"></canvas>
            </div>
        </div>
        <div class="overviewManager-top-right">
            <h1 class="title">USER BUY MOST</h1>
            <img src="conmeo.jpg" alt="">
        </div>
    </div>
</body>
