@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<script
    src="https://kit.fontawesome.com/31a6f4185b.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="product.css" />
  <body>
    <div class="product-list">
      <div class="category-list">
        <div class="category-img">
          <img src="Product.jpg" alt="" />
          <p>All product</p>
        </div>
        <div class="category-img">
          <img src="Product.jpg" alt="" />
          <p>Men's shoes</p>
        </div>
        <div class="category-img">
          <img src="Product.jpg" alt="" />
          <p>Women's shoes</p>
        </div>
        <div class="category-img">
          <img src="Product.jpg" alt="" />
          <p>Sport shoes</p>
        </div>
        <div class="category-img">
          <img src="Product.jpg" alt="" />
          <p>Sandanl</p>
        </div>
      </div>
      <div class="group-product">
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
      </div>
      <div class="group-product">
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
        <div class="product">
          <div class="product--banner">
            <div class="Product--image">
              <img src="Product.jpg" alt="" />
            </div>
            <div class="category">
              <p>Category</p>
            </div>
          </div>
          <div class="product--name">
            <p>product name</p>
          </div>
          <div class="product--price">
            <p class="price--new">180$</p>
            <p class="price--old">190$</p>
          </div>
          <div class="view">
            <button>View</button>
          </div>
        </div>
      </div>
      <div class="pagination">
        <button><i class="fa-solid fa-chevron-left"></i></button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button><i class="fa-solid fa-angle-right"></i></button>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const categoryItems = document.querySelectorAll(".category-img");

      categoryItems.forEach((item) => {
        item.addEventListener("click", function () {
          // Remove 'selected' class from all items
          categoryItems.forEach((i) => i.classList.remove("selected"));

          // Add 'selected' class to the clicked item
          this.classList.add("selected");
        });
      });
    });
  </script>
</html>


