<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <div class="container">
            <div class="container-left">
                <div class="container-left-sidebar">
                    <div>
                        <img src="./logo/Logo.png" alt="Mô tả hình ảnh" />
                    </div>
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-list-check fa-fw"></i>
                        <span>Orderview<br /> Manager</span>
                    </div>
                    <div class="icon-wrapper">
                        <i class="fa-brands fa-product-hunt fa-fw"></i>
                        <span>Product<br /> Manager</span>
                    </div>
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-paper-plane fa-fw"></i>
                        <span>Feedback <br />Manager</span>
                    </div>
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-file-invoice-dollar fa-fw"></i>
                        <span>Order <br />Manager</span>
                    </div>
                </div>
                <button class="button-left-side" onclick="resizeSidebar()">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            <div class="container-right">
                <h1>Overwatch</h1>
            </div>
        </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/"></script>
</body>
</html>
