@inject SU24_PRN212_SE1717_Group3.DataAccess.ApplicationDbContext dbcontext
@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";

}

<div class="list--product">
    <div class="cart-topic">
        <h2>List Product</h2>
    </div>
    <div class="navbar">
        <div class="search">
            <input type="text" placeholder="Search...">
        </div>
        <div class="add">
            <button>Add</button>
        </div>
    </div>
    <div class="table-form-container">
        <table>
            <tr class="table">
                <th>Product</th>
                <th></th>
                <th>Category</th>
                <th>Inventory</th>
                <th></th>
            </tr>
            <tr>
                <td class="product-image">
                    <img src="Product.jpg" alt="">
                </td>
                <td class="product-information">
                    <p>Nike</p>
                    <p>180$</p>
                </td>
                <td class="category">
                    Sport
                </td>
                <td class="inventory">
                    <div>
                        <button></i><i class="fa-solid fa-minus"></i></button> 1 <button>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>
                <td class="product-button">
                    <div class="ground-of-button">
                        <button class="button-edit">
                            Update
                        </button>
                        <button class="button-delete">
                            Delete
                        </button>
                    </div>
                </td>

            </tr>
            <tr>
                <td class="product-image">
                    <img src="Product.jpg" alt="">
                </td>
                <td class="product-information">
                    <p>Nike</p>
                    <p>180$</p>
                </td>
                <td class="category">
                    Sport
                </td>
                <td class="inventory">
                    <div>
                        <button></i><i class="fa-solid fa-minus"></i></button> 1 <button>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>
                <td class="product-button">
                    <div class="ground-of-button">
                        <button class="button-edit">
                            Update
                        </button>
                        <button class="button-delete">
                            Delete
                        </button>
                    </div>
                </td>

            </tr>
            <tr>
                <td class="product-image">
                    <img src="Product.jpg" alt="">
                </td>
                <td class="product-information">
                    <p>Nike</p>
                    <p>180$</p>
                </td>
                <td class="category">
                    Sport
                </td>
                <td class="inventory">
                    <div>
                        <button></i><i class="fa-solid fa-minus"></i></button> 1 <button>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>
                <td class="product-button">
                    <div class="ground-of-button">
                        <button class="button-edit">
                            Update
                        </button>
                        <button class="button-delete">
                            Delete
                        </button>
                    </div>
                </td>

            </tr>
            <tr>
                <td class="product-image">
                    <img src="Product.jpg" alt="">
                </td>
                <td class="product-information">
                    <p>Nike</p>
                    <p>180$</p>
                </td>
                <td class="category">
                    Sport
                </td>
                <td class="inventory">
                    <div>
                        <button></i><i class="fa-solid fa-minus"></i></button> 1 <button>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>
                <td class="product-button">
                    <div class="ground-of-button">
                        <button class="button-edit">
                            Update
                        </button>
                        <button class="button-delete">
                            Delete
                        </button>
                    </div>
                </td>

            </tr>
            <tr>
                <td class="product-image">
                    <img src="Product.jpg" alt="">
                </td>
                <td class="product-information">
                    <p>Nike</p>
                    <p>180$</p>
                </td>
                <td class="category">
                    Sport
                </td>
                <td class="inventory">
                    <div>
                        <button></i><i class="fa-solid fa-minus"></i></button> 1 <button>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>
                <td class="product-button">
                    <div class="ground-of-button">
                        <button class="button-edit">
                            Update
                        </button>
                        <button class="button-delete">
                            Delete
                        </button>
                    </div>
                </td>

            </tr>
            <tr>
                <td class="product-image">
                    <img src="Product.jpg" alt="">
                </td>
                <td class="product-information">
                    <p>Nike</p>
                    <p>180$</p>
                </td>
                <td class="category">
                    Sport
                </td>
                <td class="inventory">
                    <div>
                        <button></i><i class="fa-solid fa-minus"></i></button> 1 <button>
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </td>
                <td class="product-button">
                    <div class="ground-of-button">
                        <button class="button-edit">
                            Update
                        </button>
                        <button class="button-delete">
                            Delete
                        </button>
                    </div>
                </td>

            </tr>
        </table>

        <div class="pagination">
            <button><i class="fa-solid fa-chevron-left"></i></button>
            <button>1</button>
            <button>2</button>
            <button><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
</div>


